<div class="login-main-wrapper" fxLayout='column' fxLayoutAlign='center center'>
    <mat-card class="login-dialogue" fxLayout='column' fxLayoutAlign='start'>
        <mat-progress-bar *ngIf="auth.progressBar | async" mode="indeterminate"></mat-progress-bar>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Please type your credentials</mat-card-subtitle>
        <form class="my-4" [formGroup]="loginFormGroup" fxLayout='column'>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
        </form>
        <div>
            <button mat-flat-button mat-stroked-button color='primary' [disabled]="loginFormGroup.invalid" (click)="onLoginSubmit()">Login</button>
        </div>
    </mat-card>
</div>