.login-main-wrapper{
    height: 100vh;
}
.login-dialogue{
    width: 450px;
    min-height: 500px;
    padding: 40px;
    box-shadow: none;
    border: 1px solid rgb(223, 223, 223);
}
@media screen and (max-width: 600px){
    .login-dialogue{
        width: 100%;
        min-height: 100vh;
        padding: 40px;
        box-shadow: none;
        border: 1px solid rgb(223, 223, 223);
    }
}
.mat-progress-bar{
    position: absolute;
    left: 0px;
    top: 0px;
}
