<div>
    <app-header></app-header>
    <mat-sidenav-container id="main-content">
        <mat-sidenav mode="side" [opened]='headerService.sideBarOpened | async' style="height: 90vh;width: 250px">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content style="height: 90vh;">
            <div class="main-container">
                <h1 *ngIf="userService.user$ | async; let user">Welcome {{ user.displayName }}</h1>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>