.main-content-wrapper{
    min-height: calc( 100vh - 65px );
}
.sidebar{
  min-width: 256px;
}
.main-content{
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
    .main-content {
      min-width: 340px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }